.login{
display: flex;
justify-content: center;
margin-top: 10%;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.login input {
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    margin: 1.5%;
}

.login button {
    background-color: #509D45;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 950px) {
    .login button{
        width: 150%;
    }
    .login input {
        width: 150%;
        margin: 10%;
    }
    
}