.sugestao {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.div_campo_geral {
    border: 1px solid#10af33;
    border-radius: 10px;
    width: 50%;
    background-color: rgb(46, 46, 46);
}

.titulo {
    border-bottom: 1px solid#10af33;
    text-align: center;
    width: 100%;
}

.corpo {
    width: 90%;
    text-align: justify;
}

.div_button {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.div_button button {
    background-color: transparent;

    width: 20%;
    height: 50px;
    border-radius: 15px;
    margin: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icone {
    width: 25px;
    height: 25px;
    color: white;
}

.like{
    border: 2px solid #10af33;
}

.dislike {
    border: 2px solid #c72a2a;
}

.like:hover, .dislike:hover {
    background-color: rgb(29, 29, 29);
}