.home {
    margin-top: 60px;
    text-align: center;
}

.home_title {
    font-size: 30px;
}

.home_div {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}