.section_form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section_form textarea, .section_form input{
    border: 1px solid#10af33;
    border-radius: 10px;
    color:#fff

}

.title_form{
    width: 80%;
    font-size: 30px;
    border:1px solid#fff;
    height: 100px;
    margin-bottom: 20px;
    background-color: rgb(46, 46, 46);
}

.body_form{
    width: 80%;
    font-size: 22px;
    border:1px solid#fff;
    height: 350px;
    background-color: rgb(46, 46, 46);
}

.section_form button {
    background-color: #509D45;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    justify-content: end;
}

